html,
body {
  margin: 0;
}

body {
  font-family: Inter;
  background: #f8f8f8;
}

.container {
  margin: 45px auto;
  max-width: 560px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: #a203dc;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

article.journal-entry {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  padding: 1rem;
  border-radius: 0.8rem;
  background: #faf0fe;
  filter: drop-shadow(0 0 0.5rem rgba(4, 49, 250, 0.658));
}

article.journal-entry .marker {
  width: 10px;
  margin-right: 4px;
}

article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

article.journal-entry .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

article.journal-entry .info-container span.country {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 12px;
}

.info-container a {
  padding-left: 0.75rem;
  color: #2600ff;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918e9b;
}

.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  font-weight: bold;
}

.info-container p.entry-text {
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
